body {
  font-family: arial, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0 5px;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  font-size: 13px;
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 15px 8px;

  text-decoration: none;
}
.header .sign-in {
  background-color: #4683ea;
  font-size: 13px;
  font-weight: bold;
  display: block;
  color: #fff;
  text-align: left;
  padding: 7px 10px;
  margin: 5px 10px 0 5px;
  text-decoration: none;
  border: 1px solid #4285f4;
  outline: none;
}

li a:not(.sign-in) {
  opacity: 0.75;
}
li a:not(.sign-in):hover {
  text-decoration: underline;
}
.footer {
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.logo {
  height: 100px;
  width: auto;
  padding: 25px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.search {
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  height: 40px;
  width: 560px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button1,
.button2 {
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: #f8f8f8;
  color: #757575;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  margin: 25px 10px;
}
.button1:hover,
.button2:hover {
  color: 222;
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  cursor: pointer;
}

.container {
  margin: 5px;
  text-align: center;
}
.content {
  /*Place Logo, Search Box, and buttons in the Middle. */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right {
  float: right;
}

input[type='text'] {
  padding-left: 30px;
}
